.listings-container {
  background: #f9f7ee;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
}

#listings-table {
  width: 100%;
  border-collapse: collapse;
}

#listings-table th,
#listings-table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #D8D0BF;
}

#listings-table th {
  color: #7A7768;
  font-size: 14px;
}

.remove-btn {
  background: #7A3e52;
  color: #FDFBF6;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #782F40;
}